body {
	background: #E3E2DF;
	font-family: 'Oswald', 'Futura', sans-serif;
}
#wrapper {
	margin-top: 5% !important;
}
#content {
	background: crimson;
	padding: 25px;
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
	color: #E3E2DF;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}
footer {
	margin-top: 20px;
	color: crimson;
}